<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/modal.css' %}" />
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
  </head>
  <body>
    <h1>문서 작성</h1>
    <form method="post" enctype="multipart/form-data">
      <label for="document-title">제목:</label><br />
      <input type="text" id="document-title" name="document-title" /><br />

      <label for="position">문서유형:</label><br />
      <select id="doc_type" name="doc_type">
        <option value="">유형 선택</option>
        {% for doc_type in document_types %}
        <option value="{{ doc_type }}">{{ doc_type }}</option>
        {% endfor %}</select
      ><br />

      <label for="author-name">작성자 이름:</label><br />
      <input type="text" id="author-name" name="author-name" /><br />

      <label for="position">직급:</label><br />
      <select id="position" name="position">
        <option value="">직급 선택</option>
        {% for position in positions %}
        <option value="{{ position }}">{{ position }}</option>
        {% endfor %}</select
      ><br />

      <label for="document-content">문서 내용:</label><br />
      <textarea id="document-content" name="document-content"></textarea><br />
      {% csrf_token %}
      <input type="file" name="document" />
      <input type="submit" value="Upload" />
    </form>

    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Success!</h2>
        <p>File uploaded successfully.</p>
      </div>
    </div>

    <script>
      var successPage = new URLSearchParams(window.location.search).get(
        'success_page'
      );
      if (successPage === 'true') {
        $('#myModal').show();
      }

      // Close modal when 'x' button is clicked
      $('.close').on('click', function () {
        $('#myModal').hide();
      });
    </script>
  </body>
</html>
