<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/modal.css' %}" />
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
  </head>
  <body>
    <h1>문서 작성</h1>
    <form method="post" enctype="multipart/form-data">
      <!-- You may want to remove this or set this value server-side -->
      <input type="hidden" id="doc-id" name="Doc_ID" value="1" />

      <!-- Set the department server-side -->
      <input
        type="hidden"
        id="doc-dept"
        name="Doc_Dept"
        value="{{ employee.Emp_Dept }}"
      />

      <label for="document-title">제목:</label><br />
      <input type="text" id="document-title" name="Doc_Title" /><br />

      <label for="position">문서유형:</label><br />
      <select id="doc_type" name="Doc_Type">
        <option value="">유형 선택</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option></select
      ><br />

      <label for="author-name">작성자 이름:</label><br />
      <input type="text" id="author-name" name="Doc_Sender" /><br />

      <label for="receiver-name">수신자 이름:</label><br />
      <input type="text" id="receiver-name" name="Doc_Receiver" /><br />

      <!-- Set the document state server-side -->
      <input type="hidden" id="doc-state" name="Doc_State" value="2" />

      <label for="document-content">문서 내용:</label><br />
      <textarea id="document-content" name="Doc_Content"></textarea><br />
      {% csrf_token %}
      <input type="file" name="document" />
      <input type="submit" value="Upload" />
    </form>

    <!-- Rest of your HTML... -->
  </body>
</html>
