{% extends 'base.html' %}{% load static %}{% block content %}
<main>
  <div class="main-left">
    <h1>류재원 사원</h1>
    <div class="profile">
      <img
        src="{% static 'img/face.jpg' %}"
        alt="User"
        width="100"
        height="100"
      />
    </div>

    <br />
    <a href="https://www.joongbu.ac.kr/" target="_blank">
      <img src="static/img/header_logo.png" alt="User" width="300" height="120"
    /></a>
    <a href="https://www.joongbu.ac.kr/" target="_blank">
      <img src="static/img/header_logo.png" alt="User" width="300" height="120"
    /></a>
    <a href="https://www.joongbu.ac.kr/" target="_blank">
      <img src="static/img/header_logo.png" alt="User" width="300" height="120"
    /></a>
    <a href="https://www.joongbu.ac.kr/" target="_blank">
      <img src="static/img/header_logo.png" alt="User" width="300" height="120"
    /></a>
  </div>
  <div class="main-right">
    <div class="documents">
      <h2>받은 문서</h2>
      <ul>
        {% for d in receive_document %}
        <li><a href="{{d.url}}">{{d}}</a></li>
        {% endfor %} {% for d in receive_document %}
        <li><a href="{{d.url}}">{{d}}</a></li>
        {% endfor %} {% for d in receive_document %}
        <li><a href="{{d.url}}">{{d}}</a></li>
        {% endfor %} {% for d in receive_document %}
        <li><a href="{{d.url}}">{{d}}</a></li>
        {% endfor %} {% for d in receive_document %}
        <li><a href="{{d.url}}">{{d}}</a></li>
        {% endfor %} {% for d in receive_document %}
        <li><a href="{{d.url}}">{{d}}</a></li>
        {% endfor %} {% for d in receive_document %}
        <li><a href="{{d.url}}">{{d}}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="documents">
      <h2>받은 메일</h2>
      <ul>
        {% for d in receive_mail %}
        <li><a href="{{d.url}}">{{d}}</a></li>
        {% endfor %} {% for d in receive_mail %}
        <li><a href="{{d.url}}">{{d}}</a></li>
        {% endfor %} {% for d in receive_mail %}
        <li><a href="{{d.url}}">{{d}}</a></li>
        {% endfor %} {% for d in receive_mail %}
        <li><a href="{{d.url}}">{{d}}</a></li>
        {% endfor %} {% for d in receive_mail %}
        <li><a href="{{d.url}}">{{d}}</a></li>
        {% endfor %} {% for d in receive_mail %}
        <li><a href="{{d.url}}">{{d}}</a></li>
        {% endfor %} {% for d in receive_mail %}
        <li><a href="{{d.url}}">{{d}}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="documents">
      <h2>처리 대기중 문서</h2>
      <ul>
        {% for d in wait_document %}
        <li><a href="{{d.url}}">{{d}}</a></li>
        {% endfor %} {% for d in wait_document %}
        <li><a href="{{d.url}}">{{d}}</a></li>
        {% endfor %} {% for d in wait_document %}
        <li><a href="{{d.url}}">{{d}}</a></li>
        {% endfor %} {% for d in wait_document %}
        <li><a href="{{d.url}}">{{d}}</a></li>
        {% endfor %} {% for d in wait_document %}
        <li><a href="{{d.url}}">{{d}}</a></li>
        {% endfor %} {% for d in wait_document %}
        <li><a href="{{d.url}}">{{d}}</a></li>
        {% endfor %} {% for d in wait_document %}
        <li><a href="{{d.url}}">{{d}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</main>

{% endblock %}
