{% extends 'base.html' %} {% block content %}
<h2>보류 중인 회원가입</h2>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Department</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for user in pending_users %}
    <tr>
      <td>{{ user.Emp_User.username }}</td>
      <td>{{ user.Emp_Name }}</td>
      <td>{{ user.Emp_Dept.Dept_Name }}</td>
      <td>
        <a href="{% url 'approve_user' user_id=user.Emp_User.id %}">승인</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">내용 없음</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
