{% extends 'base.html' %}{% load static %}{% block content %}
<main>
  <h1>Server Management</h1>
  <div class="server-information">
    <h2>Server Information</h2>
    <div class="server-info">
      <div class="info">
        <h3>Uptime</h3>
        <p id="uptime"></p>
      </div>
      <div class="info">
        <h3>Storage Usage</h3>
        <p id="storage"></p>
      </div>
      <div class="info">
        <h3>Recent Issues</h3>
        <ul id="recent-issues"></ul>
      </div>
    </div>
  </div>
  <div class="settings">
    <h2>Settings</h2>
    <div class="setting">
      <label for="password">Password Change</label>
      <input type="password" id="password" />
      <button id="change-password">Change</button>
    </div>
    <div class="setting">
      <label for="auto-logout">Auto Logout (mins)</label>
      <input
        type="number"
        id="auto-logout"
        min="1"
        max="60"
        step="1"
        value="10"
      />
      <button id="save-logout">Save</button>
    </div>
  </div>
</main>
{% endblock %}
<!-- <script src="script.js"></script> -->
